@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

*{
  padding: 0;
  margin: 0;
}
body{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #F7F5F2;
  color: #000;
}

.btn-orange{
  background-color: #FE7A15;
  border-radius: 28px;
}

.btn-yellow{
  background: #F8D90F;
  border-radius: 28px;
  text-decoration: none;
  color: #000;
}

.text-blue{
  color: #0191B4;
}

.text-red{
  color: #FE1515;
}

.text-orange{
  color: #FE7A15;
}

.bg-grey{
  background: #F2F2F2;
}

.bg-silver{
  background: #DFEFE4;
}

.bg-yellow{
  background: #F9CC10;
}

.bg-darkgrey{
  background: #768E94;
}

.column-reverse{
  @include media-breakpoint-down(sm){
    flex-direction: column-reverse;
  }
}

#wrapper{
  overflow: hidden;
}

.modal-header{
  .close{
    position: absolute;
    padding: 0;
    margin: 0;
    right: 20px;
    font-size: 25px;
    top: 10px;
  }
}

#header{
  .navbar-nav{    
    .nav-item{
      text-transform: uppercase;
      .nav-link{
        color: #000;
        &:hover{          
          color: #FE7A15;
        }
        &.btn-login{
          @include media-breakpoint-up(sm){
            color: #FE7A15 !important;
            border-color: #FE7A15 !important;
            width: 110px;
            text-align: center;
            margin-left: 10px;
          }
        }
      }      
      &.menu-btm{
        @include media-breakpoint-up(sm){
          padding: 8px 10px;
        }
      }
      .dropdown{
        &.show{
          button{
            color: #FE7A15;
          }
        }
        button{
          text-transform: uppercase;
          background: none;
          border: none;
          font-weight: normal;
          &:hover{
            color: #FE7A15;
          }
          &:after{
            display: none;
          }
        }
      }
    }
  }
  .menu-inline{
    @include media-breakpoint-up(sm){
      position: absolute;
      right: -30px;
    }
    .language{
      button{
        background: none;
        border: none;
        color: #000;
        @include media-breakpoint-down(sm){
          padding: 0;
        }
        &:after{
          display: none;
        }
      }
    }
  }  
}

.after-headline{
  img{
    width: 38px;
  }
  .btn-member{
    font-size: 14px;
    letter-spacing: 1px;
    @include media-breakpoint-up(sm){
      width: 200px;
      height: 40px;
      line-height: 25px;
    }
  }
  a{
    color: #000;
    text-decoration: none;
  }
}

.after-header-section{
  &:before{
    position: absolute;
    content: '';
    background: url(../images/dots.png) no-repeat right;
    width: 288px;
    height: 322px;
    right: 180px;
    bottom: -50px;
    background-size: 70%;
    @include media-breakpoint-down(sm){
      display: none;
    }
    @media screen and (min-width:1500px) {
      right: 450px;
    }
  }
  .headline{
    font-size: 48px;
    span{
      position: relative;
      &::before{
        position: absolute;
        bottom: 5px;
        width: 100%;
        background-color: #FE7A15;
        height: 3px;
        content: '';
      }
    }
  }
  .sosmed{
    ul{
      li{
        list-style: none;
        font-size: 20px;
        a{
          color: #FE7A15;
          &:hover{
            color: #000;
          }
        }
      }
    }
  }
}

.solution-section{
  &::before{
    content: '';
    background: url(../images/float-top-right-1.png) no-repeat;
    position: absolute;
    width: 400px;
    height: 420px;
    top: 200px;
    right: -200px;
    @include media-breakpoint-down(sm){
      display: none;
    }
    @media screen and (min-width:1500px) {
      right: 0;
    }
  }  
  &::after{
    content: '';
    background: url(../images/floating-left-solution.svg) no-repeat;
    position: absolute;
    width: 450px;
    height: 440px;
    left: -300px;
    bottom: 0;
    background-size: 90%;
    @include media-breakpoint-down(sm){
      display: none;
    }
    @media screen and (min-width:1500px) {
      left: 0;
    }
  }
  .block{
    background: url(../images/border-gradient.png) no-repeat center;
    height: 340px;
    margin-bottom: 30px;
  }
}

.payment-section{
  &::before{
    content: '';
    background: url(../images/float-left-pembayaran.svg) no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 520px;
    height: 450px;
    top: 200px;
    left: -250px;
    @include media-breakpoint-down(sm){
      display: none;
    }
    @media screen and (min-width:1500px) {
      left: 0;
    }
  }
  &:after{
    position: absolute;
    content: '';
    background: url(../images/dots.png) no-repeat right;
    width: 288px;
    height: 322px;
    left: -100px;
    bottom: -250px;
    background-size: 70%;
    @include media-breakpoint-down(sm){
      display: none;
    }
    @media screen and (min-width:1500px) {
      left: 0px;
    }
  }
  .sliding-payment{
    .sliding-btn{
      border-radius: 28px;
      @include media-breakpoint-down(sm){
        width: 100%;
      }
      button{
        color: #FE7A15;
        @include media-breakpoint-down(sm){
          width: 49.2%;
        }
        @include media-breakpoint-up(sm){
          width: 200px;
          height: 50px;
        }
        &.slick-disabled{
          background: #FE7A15;
          border-radius: 28px;
          color: #fff;
        }
      }      
    }
  }
}

.step-section{
  .title{
    font-size: 32px;
  }
  .column-action{
    a{
      display: inline-block;
      width: 200px;
      height: 50px;
      line-height: 50px;
      border-radius: 28px;
      text-align: center;
      color: #000;
      text-decoration: none;
      border-color: #FE7A15 !important;
      @include media-breakpoint-down(sm){
        font-size: 12px;
      }
    }
  }
  .block{
    @include media-breakpoint-down(sm){
      text-align: center;
    }
    .img{
      img{
        @include media-breakpoint-up(xl){
          height: 300px;
        }
      }
    }
  }
}

.regist-member-section{
  &::before{
    content: '';
    background: url(../images/float-regist.svg) no-repeat right;
    width: 520px;
    height: 500px;
    position: absolute;
    background-size: 80%;
    right: -100px;
    top: 0;
    @include media-breakpoint-down(sm){
      display: none;
    }
    @media screen and (min-width:1500px) {
      right: 0;
    }
  }
  &::after{
    content: '';
    background: url(../images/float-regist.svg) no-repeat left;
    width: 520px;
    height: 500px;
    position: absolute;
    background-size: 80%;
    left: -100px;
    bottom: 0;
    @include media-breakpoint-down(sm){
      display: none;
    }
    @media screen and (min-width:1500px) {
      left: 0;
    }
  }
  .slick-slide {
    margin: 0 15px;
  }
  /* the parent */
  .slick-list {
    padding:0 28% 0 0;
    z-index: 1;
  }
  .card-wrapper{
    .card{
      background-color: #fff;
      border: 4px solid #F2F2F2;
      box-sizing: border-box;
      /* SHADOW/harsh bottom */
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
      border-radius: 30px;
      @include media-breakpoint-up(md){
        height: 580px;
      }
      &.yellow-card{
        border: 4px solid #F9CC10;
        box-sizing: border-box;

        /* SHADOW/harsh bottom */
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        border-radius: 30px;
      }
      &.silver-card{
        border: 4px solid #DFEFE4;
        box-sizing: border-box;

        /* SHADOW/harsh bottom */
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        border-radius: 30px;
      }
      &.dark-card{
        border: 4px solid #768E94;
        box-sizing: border-box;

        /* SHADOW/harsh bottom */
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
        border-radius: 30px;
      }
      .card-header{
        background-color: transparent;
        border: none;
        padding: 20px 15px;
        .price{
          font-size: 27px;
          sup{
            font-size: 16px;
          }
          span{
            font-size: 16px;
          }
        }
      }
      .desc{
        p{
          margin: 0;
          padding: 20px;
        }
      }
      .list{
        padding: 20px 25px;
        font-size: 14px;
        li{
          padding-left: 5px;
        }
      }
    }
  }
  .btn-regist{
    width: 150px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin: 20px 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    &:hover{
      color: #000;
    }
  }
}

.consultation-section{
  background-color: #fff;
  .list-address{
    ul{
      li{
        font-size: 24px;
        padding-left: 60px;
        list-style: none;
        background-size: 40px !important;
        margin-bottom: 10px;
        @include media-breakpoint-down(sm){
          font-size: 20px;
        }
        &:nth-child(1){
          background: url(../images/ico-phone.png) no-repeat left;
        }
        &:nth-child(2){
          background: url(../images/ico-email.png) no-repeat left;
        }
        &:nth-child(3){
          background: url(../images/ico-map.png) no-repeat left;
        }
        a{
          text-decoration: none;
          color: #000;
          &:hover{
            color: #FE7A15;
          }
        }
      }
    }
  }
  .operasional{
    padding-left: 60px;
  }
}

#footer{
  background-color: #5F7A25;
  .menus{
    @include media-breakpoint-down(sm){
      margin-top: 20px;
    }
    ul{
      padding: 0;
      li{
        list-style: none;
        float: left;
        margin-right: 20px;
        a{
          color: #000;
          text-decoration: none;
          &:hover{
            color: #F7F5F2;
          }
        }
      }
    }
  }
  .sosmed{
    ul{
      padding: 0;
      li{
        list-style: none;
        float: left;
        font-size: 20px;
        margin-right: 20px;
        a{
          color: #000;
          text-decoration: none;
          &:hover{
            color: #F7F5F2;
          }
        }
      }
    }
  }
}